<footer class="mt-4 pt-4 ">
	<div class="container border-top">
		<div class="row">
			<div class="col-4 col-md">
				<h5>HotelHouse</h5>
				<small class="d-block text-muted">&copy; 2022</small>
			</div>

			<div class="col-4 col-md text-center" style="background-color: #C9FFE5; height:5em;">
				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
					<i class="fab fa-snapchat"></i>
				</a>
				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
					<i class="fab fa-twitter"></i>
				</a>

				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
					<i class="fab fa-instagram"></i>
				</a>

				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
					<i class="fab fa-linkedin"></i>
				</a>

				<a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button" data-mdb-ripple-color="dark">
					<i class="fab fa-github"></i>
				</a>
			</div>
            
			<div class="col-4 col-md">
				<ul class="list-unstyled" style="float: right;">
					<li>
						<a target="new" href="{{ path('show_mentions') }}" class="text-muted">Mentions légales</a>
					</li>
					<li>
						<a target="new" href="{{ path('show_cgv') }}" class="text-muted">Conditions générales de vente</a>
					</li>
					<li>
						<a href="{{ path('show_hotel_map')}}" class="text-muted">Plan du site</a>
					</li>
					<li>
						<a href="#" onclick="window.print();return false;" class="text-muted">
							Imprimer la page <i class="fa-solid fa-print"></i>
						</a>
					</li>
					<li>
						<a href="#" class="text-muted">S’inscrire à la newsletter</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid bg-dark">
		<div class="row">
			<div class="col">
				<p class="text-center text-white">&copy; HotelHouse 2022</p>
			</div>
		</div>
	</div>
</footer>
