<footer class="mt-4 pt-4 ">
    <div class="container border-top">
        <div class="row">
            <div class="col-12 col-md">
                <h5>HotelHouse</h5>
                <small class="d-block text-muted">&copy; 2022</small>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled">

                </ul>
            </div>
            <div class="col-6 col-md">
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Mentions légales</a></li>
                    <li><a href="#" class="text-muted">Condition Général de Vente</a></li>
                    <li><a href="#" class="text-muted">Plan du site</a></li>
                    <li><a href="#" class="text-muted"><i class="fa-solid fa-print"></i>imprimer la page </a></li>
                    <li><a href="#" class="text-muted">S’inscrire à la newsletter</a></li>
                    <li><a href="#" class="text-muted">Partage</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col">
                <p class="text-center text-white">&copy; HotelHouse 2022</p>
            </div>
        </div>
    </div>
</footer>