{% extends "base.html.twig" %}

{% block title %}Avis{% endblock %}

{% block body %}

<h1>Donner son avis</h1>

{#---------------------------------#}
<form>
<div class="row">
<div class="mb-6">
    <label for="exampleInputEmail1" class="form-label">Titre de l'avis</label>
    <input type="titre" class="form-control" id="" aria-describedby="">
    
  </div>
  <div class="mb-6">
    <label for="exampleInputEmail1" class="form-label">Nom</label>
    <input type="Nom" class="form-control" id="" aria-describedby="">
  </div>
  <div class="mb-6">
    <label for="exampleInputEmail1" class="form-label">Prénom</label>
    <input type="prenom" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-6">
    <label for="exampleInputEmail1" class="form-label">Description courte de votre séjour</label>
    <input type="Sujet" class="form-control" id="exampleInputEmail1" aria-describedby="">
    <div id="" class="form-text"></div>
  </div>    
  </div>

  <button type="submit" class="btn btn-primary">Envoi</button>
</form>

    

 


{% endblock %}
