{% extends "base.html.twig" %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<h1 class="text-center">Photo du loby</h1>
	<button type="button" class="btn btn-info">HouseHotel | Découvrez nos chambres</button>

{% endblock %}
