{% extends "base.html.twig" %}

{% block title %}Spa HouseHotel
{% endblock %}

{% block body %}

	<div class="row">


		<div class="card">
			<img src="img/spa1.jpg" class="card-img" alt="la pool de l'hôtel">
			<div class="card-img-overlay">
				<div class="carousel-caption d-none d-md-block">
					<h2>
						Spa HouseHotel
					</h2>
				</div>
			</div>
		</div>


	</div>


	{# -  - - - - - - - - - - - - - -  - -- - - #}
	<div class="part_wrapper"></div>

	{# ----------------------------------- #}
	<div class="container">

		<div class="row">

			<div class="d-flex position-relative">

				<div>
					<h5 class="mt-0 text-center">Spa avec soin Détente</h5>
					<p>Le rituel bien-être de 2H30 propice à la relaxation débute par un accès piscine & sauna 1H, permettant une dilation﻿ complète ﻿des pores, permettant au gommage une parfaite exfoliation, gommage qui sera au choix, cannelle/ gingembre, évasion gourmande et tonique, ou citron vert, évasion de fraîcheur en douceur. Le soin se poursuivra par un massage personnalisé de votre choix en fonction de vos besoins et de vos envies durant 30 minutes. Pour clôturer votre rituel, un soin du visage de 30 minutes vous sera effectué sous les conseils de votre praticienne qui adaptera les produits Sothys en fonction de votre typologie.</p>
				</div>
			</div>


			{#<div class="col-sm-6">
								<div class="card">
									<div class="card-body">
										<h5 class="card-title">Soin visage</h5>
										<p class="card-text">Eclat, fermeté, anti-âge… succombez aux bienfaits d’un soin personnalisé.</p>
										<img src="img/spa.jpg" class="rounded-circle" width="40%">
									</div>
								</div>
							</div> #}


			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Soin du corp</h5>
						<p class="card-text">Détente absolue, raffermissement… choisissez votre modelage corps sur mesure.</p>
						<img src="img/spa.jpg" class="rounded-circle" width="40%">
					</div>
				</div>
			</div>


			<div class="col-sm-6">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Soin du corp</h5>
						<p class="card-text">Détente absolue, raffermissement… choisissez votre modelage corps sur mesure.</p>
						<img src="img/spa4.jpeg" class="rounded-circle" width="40%">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
