{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}


<h1 class="text-center">Remplissez ce formulaire!</h1>

 
<form>
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Prenom</label>
    <input type="prenom" class="form-control" id="" aria-describedby="">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nom</label>
      <div id="" class="form-text"></div>
    <input type="Nom" class="form-control" id="" aria-describedby="">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
    <input type="email" class="form-control" id="" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Sujet</label>
    <input type="Sujet" class="form-control" id="sujet" aria-describedby="">
    <div id="" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Categorie</label>
    <input type="" class="form-control" id="sujet" aria-describedby="">
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Message</label>
    <input type="Message" class="form-control" id="" aria-describedby="">
    
  </div> 
  <div class="text-center">
  <button type="submit" class="btn btn-primary  col-2 ">Envoi</button>
</form>

    

 


{% endblock %}
