{% extends "base.html.twig" %}

{% block title %}
Voir les actualites
{% endblock %}

{% block body %}

    <div class="card">
    <img src="{{ asset('img/news.jpg') }}" class="card-img" alt="...">
    <div class="card-img-overlay">
        
    <h1 class="text-color-Light">
    Voir les actualites
    </h1>
        
        </div>
    </div>

<rssapp-wall id="RYPbiT5LTsrKwhhL"></rssapp-wall><script src="https://widget.rss.app/v1/wall.js" type="text/javascript" async></script>

{% endblock %}